@model Elev99.Models.ViewModels.ConvertedInfo

<h1>@Html.DisplayFor(model => model.percentualDeUsoElevadorA)</h1>
<h1>@Html.DisplayFor(model => model.percentualDeUsoElevadorB)</h1>
<h1>@Html.DisplayFor(model => model.percentualDeUsoElevadorC)</h1>
<h1>@Html.DisplayFor(model => model.percentualDeUsoElevadorD)</h1>
<h1>@Html.DisplayFor(model => model.percentualDeUsoElevadorE)</h1>
<h1>Andar menos utilizado @Html.DisplayFor(model => model.andarMenosUtilizado)</h1>
<h1>Elevador mais frequentado @Html.DisplayFor(model => model.elevadorMaisFrequentado)</h1>
<h1>Elevador menos frequentado @Html.DisplayFor(model => model.elevadorMenosFrequentado)</h1>
<h1>Periodo maior fluxo emf @Html.DisplayFor(model => model.periodoMaiorFluxoElevadorMaisFrequentado)</h1>
<h1>Periodo maior utilização elevadores @Html.DisplayFor(model => model.periodoMaiorUtilizacaoConjuntoElevadores)</h1>
<h1>periodo menor fluxo elevador menos frequentado @Html.DisplayFor(model => model.periodoMenorFluxoElevadorMenosFrequentado)</h1>

