@model PaginatedList<Elev99.Models.CollectedData>

@{
    ViewData["Title"] = "Dados";
}

<h2>Dados</h2>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Andar
            </th>
            <th>
                Elevador
            </th>
            <th>
                Turno
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elevator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{ 
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber ="@(Model.PageIndex -1)"
   class="btn btn-default @prevDisabled" >
    Anterior
</a>
<a asp-action="Index"
   asp-route-pageNumber ="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled" >
    Proxima
</a>
